@import "variables";
@import "reseteo";
@import "mixin0";
@import "navbar";
body{
    background-color: #0f001b;

}
.imggrande{
    width: 100%;
}

.padre{
    width: 100%;
    height: 100%;
    margin: 10px auto;
    font-family: quicksand;
    color: white;
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: repeat(1, 1 fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    grid-template-areas: 
    "gradientes"
    "footer"
    ;
    input:focus{
    
        outline-color: dimgrey;
        
    
    }
    .gradientes{
        background-image: radial-gradient(rgb(253, 241, 208), rgb(105, 60, 18));
        grid-area: gradientes;
        @include media (lg) {
            h2{
            
                font-family: 'Pacifico', cursive;
                font-size:calc(12px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .inputtext{
                
                    input{
                        width: 240px;
                        height: 30px;
                        border-radius: 10px;
                        border: 0em;
                        
                    
                    }
                
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            }
            .button2{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(8px + #{$width2});
                padding-top: 5%;
                padding-bottom: 5%;
                align-content: center;
                box-sizing: content-box;
                
                button{
                    width: 240px;
                    height: 30px;
                    border-radius: 16px;
                    border: 0em;
                }
                
               
                
            }
            .comentarios{
                
                input{
                    width: 240px;
                    height: 80px;
                    border-radius: 10px;
                    border: 0em;
                    
                }    
                
                font-kerning: auto;
                box-sizing: content-box;
                height: auto;
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            
            }
            
       
        }
        @include media (md) {
            h2{
            
                font-family: 'Pacifico', cursive;
                font-size:calc(12px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .inputtext{
                
                    input{
                        width: 240px;
                        height: 30px;
                        border-radius: 10px;
                        border: 0em;
                        
                    
                    }
                
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            }
            .button2{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(8px + #{$width2});
                padding-top: 5%;
                padding-bottom: 5%;
                align-content: center;
                box-sizing: content-box;
                
                button{
                    width: 240px;
                    height: 30px;
                    border-radius: 16px;
                    border: 0em;
                }
                
               
                
            }
            .comentarios{
                
                input{
                    width: 240px;
                    height: 80px;
                    border-radius: 10px;
                    border: 0em;
                    
                }    
                
                font-kerning: auto;
                box-sizing: content-box;
                height: auto;
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            
            }
            
       
        }
        @include media (sm) {
            h2{
            
                font-family: 'Pacifico', cursive;
                font-size:calc(12px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .inputtext{
                
                input{
                    width: 150px;
                    height: 26px;
                    border-radius: 6px;
                    border: 0em;
                }
                
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            }
            .button2{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(8px + #{$width2});
                padding-top: 5%;
                padding-bottom: 5%;
                align-content: center;
                box-sizing: content-box;
                
                button{
                    width: 150px;
                    height: 26px;
                    border-radius: 12px;
                    border: 0em;
                }
                
               
                
            }
            .comentarios{
                
                input{
                    width: 150px;
                    height: 50px;
                    border-radius: 6px;
                    border: 0em;
                }   
                
                font-kerning: auto;
                box-sizing: content-box;
                height: auto;
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            
            }
            
       
        }
        @include media (xs) {
            h2{
            
                font-family: 'Pacifico', cursive;
                font-size:calc(12px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .inputtext{
                
                input{
                    width: 100px;
                    height: 20px;
                    border-radius: 2px;
                    border: 0em;
                }
                
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            }
            .button2{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(8px + #{$width2});
                padding-top: 5%;
                padding-bottom: 5%;
                align-content: center;
                box-sizing: content-box;
                
                button{
                    width: 100px;
                    height: 20px;
                    border-radius: 8px;
                    border: 0em;
                }
            }
                
               
                
            
            .comentarios{
                
                input{
                    width: 100px;
                    height: 32px;
                    border-radius: 2px;
                    border: 0em;
                }    
                
                font-kerning: auto;
                box-sizing: content-box;
                height: auto;
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            
            }
            
       
        }
    }





}

body{
    background-color: #0f001b;
    font-family: 'Quicksand', sans-serif;
}


main{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    }



@import "footer";