@import "variables";
@import "reseteo";
@import "mixin0";
@import "navbar";
body{
    background-color: #0f001b;

}
.imggrande{
    width: 100%;
}
input:focus{
    
    outline-color: dimgrey;
    

}

@include media (lg) {
    .padre{
        width: 100%;
        margin: 10px auto;
        font-family: quicksand;
        color: white;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: repeat(3, 1 fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        grid-template-areas: 
        "posicionfotos3 posicionfotos3 texto"
        "gradientes gradientes gradientes"
        "footer footer footer"
        ;
        .posicionfotos3{
            grid-area: posicionfotos3;
            padding-top: 5%;
            padding-bottom: 5%;
            .cerveza3{
                h2{
                    
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                    padding: 5%;
                    
                }
           
            
            }
        
    
        }
        .texto{
            grid-area: texto;
            font-family: quicksand;
            color: #0f001b;
            font-size:calc(8px + #{$width2});
            text-align: center;
            padding-top: 40%;
            padding-left: 20%;
            padding-right: 20%;
        
        
        }
        .gradientes{
            background-color: rgb(221, 199, 159);
            grid-area: gradientes;
            .terminos{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(3px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 3%;
                
                   
               
                a:active{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:link{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:visited{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:hover{
                    text-decoration: none;
                   color: rgb(95, 95, 95);
               }
            
            }
           
                h2{
                
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                    padding-top: 5%;
                    padding-bottom: 5%;
                }
                .inputtext{
                    
                    input{
                        width: 240px;
                        height: 30px;
                        border-radius: 10px;
                        border: 0em;
                        
                    }
                    
                    h3{
                
                        font-family: 'Quicksand', sans-serif;
                        font-size:calc(8px + #{$width2});
                        text-decoration: none;
                        color: #0f001b;
                    }
                }
                .button2{
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    padding-top: 5%;
                    padding-bottom: 5%;
                    align-content: center;
                    box-sizing: content-box;
                    
                    button{
                        width: 240px;
                        height: 30px;
                        border-radius: 16px;
                        border: 0em;
                    }
                    
                   
                    
                }
             
        }   
    }
}    
@include media (md) {
    .padre{
        width: 100%;
        margin: 10px auto;
        font-family: quicksand;
        color: white;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: repeat(3, 1 fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        grid-template-areas: 
        "posicionfotos3 posicionfotos3 texto"
        "gradientes gradientes gradientes"
        "footer footer footer"
        ;
        .posicionfotos3{
            grid-area: posicionfotos3;
            padding-top: 5%;
            padding-bottom: 5%;
            .cerveza3{
                h2{
                    
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                    padding: 5%;
                    
                }
        
            }
        }
        
        .texto{
            grid-area: texto;
            font-family: quicksand;
            color: #0f001b;
            font-size:calc(8px + #{$width2});
            text-align: center;
            padding-top: 40%;
            padding-left: 20%;
            padding-right: 20%;
        
        
        }
        .gradientes{
            background-color: rgb(221, 199, 159);
            grid-area: gradientes;
            .terminos{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(3px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 3%;
                
                   
               
                a:active{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:link{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:visited{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:hover{
                    text-decoration: none;
                   color: rgb(95, 95, 95);
               }
            
            }
            
            
                h2{
                
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                    padding-top: 5%;
                    padding-bottom: 5%;
                }
                .inputtext{
                    
                    input{
                        width: 240px;
                        height: 30px;
                        border-radius: 10px;
                        border: 0em;
                        
                    }
                    
                    h3{
                
                        font-family: 'Quicksand', sans-serif;
                        font-size:calc(8px + #{$width2});
                        text-decoration: none;
                        color: #0f001b;
                    }
                }
                .button2{
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    padding-top: 5%;
                    padding-bottom: 5%;
                    align-content: center;
                    box-sizing: content-box;
                    
                    button{
                        width: 240px;
                        height: 30px;
                        border-radius: 16px;
                        border: 0em;
                    }
                    
                   
                    
                }
              
        }   
    }
}           
@include media (sm) {
    .padre{
        width: 100%;
        margin: 10px auto;
        font-family: quicksand;
        color: white;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        grid-template-areas: 
        "posicionfotos3"
        "texto"
        "gradientes"
        "footer"
        ;
        .posicionfotos3{
            grid-area: posicionfotos3;
            padding-top: 5%;
    
            .cerveza3{
                h2{
                    
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                    padding: 5%;
                   
                }
        
            }
            
        }
        
        .texto{
            grid-area: texto;
            font-family: quicksand;
            color: #0f001b;
            font-size:calc(8px + #{$width2});
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        

        
        
        }
        .gradientes{
            background-color: rgb(221, 199, 159);
            grid-area: gradientes;
            .terminos{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(3px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 3%;
                
                   
               
                a:active{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:link{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:visited{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:hover{
                    text-decoration: none;
                   color: rgb(95, 95, 95);
               }
            
            }
            
            
            h2{
            
                font-family: 'Pacifico', cursive;
                font-size:calc(12px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .inputtext{
                
                input{
                    width: 150px;
                    height: 26px;
                    border-radius: 6px;
                    border: 0em;
                }
                
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            }
            .button2{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(8px + #{$width2});
                padding-top: 5%;
                padding-bottom: 5%;
                align-content: center;
                box-sizing: content-box;
                
                button{
                    width: 150px;
                    height: 26px;
                    border-radius: 12px;
                    border: 0em;
                }
                
               
                
            }
              
           
        }   
    }
}  
@include media (xs) {
    .padre{
        width: 100%;
        margin: 10px auto;
        font-family: quicksand;
        color: white;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        grid-template-areas: 
        "posicionfotos3"
        "texto"
        "gradientes"
        "footer"
        ;
        .posicionfotos3{
            grid-area: posicionfotos3;
            padding-top: 5%;
            .cerveza3{
                h2{
                    
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                    padding: 5%;
                    
                }
        
            }
            
        }
        
        .texto{
            grid-area: texto;
            font-family: quicksand;
            color: #0f001b;
            font-size:calc(8px + #{$width2});
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        
        
        }
        .gradientes{
            background-color: rgb(221, 199, 159);
            grid-area: gradientes;
            .terminos{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(3px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 3%;
                
                a:active{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:link{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:visited{
                    text-decoration: none;
                    color: #0f001b;
                }
                a:hover{
                    text-decoration: none;
                   color: rgb(95, 95, 95);
               }
            
            }
            
            
            h2{
            
                font-family: 'Pacifico', cursive;
                font-size:calc(12px + #{$width2});
                text-decoration: none;
                color: #0f001b;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .inputtext{
                
                input{
                    width: 100px;
                    height: 20px;
                    border-radius: 2px;
                    border: 0em;
                    
                }
                h3{
            
                    font-family: 'Quicksand', sans-serif;
                    font-size:calc(8px + #{$width2});
                    text-decoration: none;
                    color: #0f001b;
                }
            }
            
            .button2{
                font-family: 'Quicksand', sans-serif;
                font-size:calc(8px + #{$width2});
                padding-top: 5%;
                padding-bottom: 5%;
                align-content: center;
                box-sizing: content-box;
                
                button{
                    width: 100px;
                    height: 20px;
                    border-radius: 8px;
                    border: 0em;
                }
            }   
        }   
    }
}      
       



main{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    }
body{
    background-color: #0f001b;
    font-family: 'Quicksand', sans-serif;
}

input{
    border-style: none;

}



@import "footer";