@import "variables";
@import "reseteo";
@import "navbar";
@import "mixin0";
body{
    background-color: #0f001b;

}

@include media (xs) {
    .alinear{
        width: 100%;
        margin: 10px auto;
        background-color: white;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7,auto);
        gap: 10px;
        grid-template-areas: 
        "engrilla"
        "redondo"
        "engrilla1"
        "redondo1"
        "engrilla2"
        "redondo2"
        "footer";
            .redondo{
            grid-area: redondo;
            padding: 5%;
    
            }
            .engrilla{
                .letratexto{
                        
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width});
                    font-family: 'Pacifico';
                    padding-top: 20%;
                    
                }
                grid-area: engrilla;
                padding: 5%;
                
    
            }
            .engrilla1{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla1;
                padding: 5%;
                
            }
            .redondo1{
                grid-area: redondo1;
                padding: 5%;
            }
            
            .redondo2{
                grid-area: redondo2;
                padding: 5%;
            }
            .engrilla2{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla2;
                padding: 5%;
                
            }    
    }
}
@include media (sm) {
    .alinear{
        margin: auto;
        width: 100%;
        margin: 10px auto;
        background-color: white;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7,auto);
        gap: 10px;
        grid-template-areas: 
        "engrilla"
        "redondo"
        "engrilla1"
        "redondo1"
        "engrilla2"
        "redondo2"
        "footer";
            .redondo{
            grid-area: redondo;
            padding: 5%;
    
            }
            .engrilla{
                .letratexto{
                        
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width});
                    font-family: 'Pacifico';
                    padding-top: 20%;
                    
                }
                grid-area: engrilla;
                padding: 5%;
                
    
            }
            .engrilla1{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla1;
                padding: 5%;
                
            }
            .redondo1{
                grid-area: redondo1;
                padding: 5%;
            }
            
            .redondo2{
                grid-area: redondo2;
                padding: 5%;
            }
            .engrilla2{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla2;
                padding: 5%;
                
            }    
    }
}
@include media (md) {
    .alinear{
        width: 100%;
        margin: 10px auto;
        background-color: white;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,auto);
        gap: 10px;
        grid-template-areas: 
        "redondo engrilla"
        "engrilla1 redondo1"
        "redondo2 engrilla2"
        "footer footer";
            .redondo{
            grid-area: redondo;
            padding: 5%;
    
            }
            .engrilla{
                .letratexto{
                        
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width});
                    font-family: 'Pacifico';
                    padding-top: 20%;
                    
                }
                grid-area: engrilla;
                padding: 5%;
    
            }
            .engrilla1{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla1;
                padding: 5%;
                
            }
            .redondo1{
                grid-area: redondo1;
                padding: 5%;
            }
            
            .redondo2{
                grid-area: redondo2;
                padding: 5%;
            }
            .engrilla2{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla2;
                padding: 5%;
                
            }    
    }
}
@include media (lg) {
    .alinear{
        width: 100%;
        margin: 10px auto;
        background-color: white;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,auto);
        gap: 10px;
        grid-template-areas: 
        "redondo engrilla"
        "engrilla1 redondo1"
        "redondo2 engrilla2"
        "footer footer";
            .redondo{
            grid-area: redondo;
            padding: 5%;
    
            }
            .engrilla{
                .letratexto{
                        
                    font-family: 'Pacifico', cursive;
                    font-size:calc(12px + #{$width});
                    font-family: 'Pacifico';
                    padding-top: 20%;
                    
                }
                grid-area: engrilla;
                padding: 5%;
    
            }
            .engrilla1{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla1;
                padding: 5%;
                
            }
            .redondo1{
                grid-area: redondo1;
                padding: 5%;
            }
            
            .redondo2{
                grid-area: redondo2;
                padding: 5%;
            }
            .engrilla2{
                .letratexto1{
                    
                    font-size: calc(12px + #{$width2});
                    font-family: 'Quicksand';
                    padding-top: 20%;
                }
                grid-area: engrilla2;
                padding: 5%;
                
            }    
    }
}
@import "footer";