@import "variables";
@import "mixin0";

.container{
    align-content: space-between;
    
    .item{
        padding-inline: 1em;
        text-decoration: none;
        
        .imagenes{
            width: 100%;
            height: auto;
            align-items: center;
            border-radius: 12px;
            
            }
        
        .item1{
            
            width: 80%;
            height: auto;
            padding: 5%;
            margin: 10px;
            gap: 10px;
            box-shadow: 3px;
            border: 1px;
            text-align: center;
            align-items: center;
            background-color: rgb(214, 250, 238);
            border-radius: 12px;
            font-size: calc(1.2vw + 10px);
            
            
            
            
            button{
                margin: 10%;
                color: white;
                background-color: rgb(73, 33, 71);
                border-width: 1px;
                height: 30px;
                width: 60%;
                box-shadow: 1px 1px rgb(46, 16, 77);
                border-radius: 12px;
                align-self: center;
                font-size: calc(5px + 1vw);
                
    
            }
            
            
        }
        
    }
}
@include media (sm) {
    .container{
        .item{
            .item1{
                width: 90%;
                height: auto;
                padding: 5%;
                margin: 5px;
                gap: 10px;
                text-align: center;
                align-content: center;
                display: flex;
                flex-direction: column;
               
            }
            button{
                
                width: 60%;
                
            }
        }
    }
}
@include media (md) {
    .container{
        .item{
            
            .item1{
                width: 90%;
                height: auto;
                padding: 5%;
                margin: 5px;
                gap: 10px;
                text-align: center;
                align-content: center;
                display: flex;
                flex-direction: column;
               
            }
            button{
                margin: 5%;
                border-width: 1px;
                height: 30px;
                width: 60%;
                
            }
        }
    }
}