* {
  padding: 0;
  margin: 0; }

button {
  font-family: quicksand; }

.letra {
  font-size: calc(10px + 0.8vw);
  font-family: 'Quicksand';
  text-decoration: none;
  color: #252525; }

.azul {
  background-color: #0f001b; }

.navbar-left {
  max-width: 100%; }
  .navbar-left .logo {
    justify-items: flex-start;
    position: initial; }
  .navbar-left .navbar ul li a {
    font-size: 1em; }
  .navbar-left li {
    list-style: none;
    display: inline;
    text-decoration: none; }
    .navbar-left li a:link {
      text-decoration: none;
      color: #bbbbbb; }
      .navbar-left li a:link a:visited {
        text-decoration: none;
        color: #bbbbbb; }
      .navbar-left li a:link a:hover {
        text-decoration: none;
        color: #f3f3f3; }
      .navbar-left li a:link a:active {
        text-decoration: none;
        color: #bbbbbb; }

body {
  background-color: #0f001b; }

.imggrande {
  width: 100%; }

.padre {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  font-family: quicksand;
  color: white;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(1, 1 fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  grid-template-areas: "gradientes" "footer"; }
  .padre input:focus {
    outline-color: dimgrey; }
  .padre .gradientes {
    background-image: radial-gradient(#fdf1d0, #693c12);
    grid-area: gradientes; }
    @media (min-width: 760px) and (max-width: 1600px) {
      .padre .gradientes h2 {
        font-family: 'Pacifico', cursive;
        font-size: calc(12px + 1vw);
        text-decoration: none;
        color: #0f001b;
        padding-top: 5%;
        padding-bottom: 5%; }
      .padre .gradientes .inputtext input {
        width: 240px;
        height: 30px;
        border-radius: 10px;
        border: 0em; }
      .padre .gradientes .inputtext h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        text-decoration: none;
        color: #0f001b; }
      .padre .gradientes .button2 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        padding-top: 5%;
        padding-bottom: 5%;
        align-content: center;
        box-sizing: content-box; }
        .padre .gradientes .button2 button {
          width: 240px;
          height: 30px;
          border-radius: 16px;
          border: 0em; }
      .padre .gradientes .comentarios {
        font-kerning: auto;
        box-sizing: content-box;
        height: auto; }
        .padre .gradientes .comentarios input {
          width: 240px;
          height: 80px;
          border-radius: 10px;
          border: 0em; }
        .padre .gradientes .comentarios h3 {
          font-family: 'Quicksand', sans-serif;
          font-size: calc(8px + 1vw);
          text-decoration: none;
          color: #0f001b; } }
    @media (min-width: 360px) and (max-width: 760px) {
      .padre .gradientes h2 {
        font-family: 'Pacifico', cursive;
        font-size: calc(12px + 1vw);
        text-decoration: none;
        color: #0f001b;
        padding-top: 5%;
        padding-bottom: 5%; }
      .padre .gradientes .inputtext input {
        width: 240px;
        height: 30px;
        border-radius: 10px;
        border: 0em; }
      .padre .gradientes .inputtext h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        text-decoration: none;
        color: #0f001b; }
      .padre .gradientes .button2 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        padding-top: 5%;
        padding-bottom: 5%;
        align-content: center;
        box-sizing: content-box; }
        .padre .gradientes .button2 button {
          width: 240px;
          height: 30px;
          border-radius: 16px;
          border: 0em; }
      .padre .gradientes .comentarios {
        font-kerning: auto;
        box-sizing: content-box;
        height: auto; }
        .padre .gradientes .comentarios input {
          width: 240px;
          height: 80px;
          border-radius: 10px;
          border: 0em; }
        .padre .gradientes .comentarios h3 {
          font-family: 'Quicksand', sans-serif;
          font-size: calc(8px + 1vw);
          text-decoration: none;
          color: #0f001b; } }
    @media (min-width: 10px) and (max-width: 360px) {
      .padre .gradientes h2 {
        font-family: 'Pacifico', cursive;
        font-size: calc(12px + 1vw);
        text-decoration: none;
        color: #0f001b;
        padding-top: 5%;
        padding-bottom: 5%; }
      .padre .gradientes .inputtext input {
        width: 150px;
        height: 26px;
        border-radius: 6px;
        border: 0em; }
      .padre .gradientes .inputtext h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        text-decoration: none;
        color: #0f001b; }
      .padre .gradientes .button2 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        padding-top: 5%;
        padding-bottom: 5%;
        align-content: center;
        box-sizing: content-box; }
        .padre .gradientes .button2 button {
          width: 150px;
          height: 26px;
          border-radius: 12px;
          border: 0em; }
      .padre .gradientes .comentarios {
        font-kerning: auto;
        box-sizing: content-box;
        height: auto; }
        .padre .gradientes .comentarios input {
          width: 150px;
          height: 50px;
          border-radius: 6px;
          border: 0em; }
        .padre .gradientes .comentarios h3 {
          font-family: 'Quicksand', sans-serif;
          font-size: calc(8px + 1vw);
          text-decoration: none;
          color: #0f001b; } }
    @media (max-width: 10px) {
      .padre .gradientes h2 {
        font-family: 'Pacifico', cursive;
        font-size: calc(12px + 1vw);
        text-decoration: none;
        color: #0f001b;
        padding-top: 5%;
        padding-bottom: 5%; }
      .padre .gradientes .inputtext input {
        width: 100px;
        height: 20px;
        border-radius: 2px;
        border: 0em; }
      .padre .gradientes .inputtext h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        text-decoration: none;
        color: #0f001b; }
      .padre .gradientes .button2 {
        font-family: 'Quicksand', sans-serif;
        font-size: calc(8px + 1vw);
        padding-top: 5%;
        padding-bottom: 5%;
        align-content: center;
        box-sizing: content-box; }
        .padre .gradientes .button2 button {
          width: 100px;
          height: 20px;
          border-radius: 8px;
          border: 0em; }
      .padre .gradientes .comentarios {
        font-kerning: auto;
        box-sizing: content-box;
        height: auto; }
        .padre .gradientes .comentarios input {
          width: 100px;
          height: 32px;
          border-radius: 2px;
          border: 0em; }
        .padre .gradientes .comentarios h3 {
          font-family: 'Quicksand', sans-serif;
          font-size: calc(8px + 1vw);
          text-decoration: none;
          color: #0f001b; } }

body {
  background-color: #0f001b;
  font-family: 'Quicksand', sans-serif; }

main {
  font-family: 'Quicksand', sans-serif;
  text-align: center; }

.footer {
  background-color: #0f001b;
  grid-area: footer;
  font-size: calc(6px + 0.8vw);
  font-family: 'Quicksand';
  text-decoration: none;
  justify-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10%; }
  .footer h4 {
    color: #0f001b; }

li {
  list-style: none;
  display: inline;
  text-decoration: none; }
  li a:link {
    text-decoration: none;
    color: #bbbbbb; }
  li a:visited {
    text-decoration: none;
    color: #bbbbbb; }
  li a:hover {
    text-decoration: none;
    color: #f3f3f3; }
  li a:active {
    text-decoration: none;
    color: #bbbbbb; }

.logo {
  justify-items: flex-start;
  position: initial; }
