.burbuja, .burbuja1, .burbuja2, .burbuja3, .burbuja4, .burbuja5, .burbuja6, .burbuja7, .burbuja8, .burbuja9, .burbuja10, .burbuja11, .burbuja12, .burbuja13, .burbuja14, .burbuja15, .burbuja16, .burbuja17, .burbuja18, .burbuja19, .burbuja20, .burbuja21 {
  bottom: 0;
  position: absolute;
  background-color: #3a1a01;
  border-radius: 50%; }

* {
  padding: 0;
  margin: 0; }

@media (min-width: 760px) and (max-width: 1600px) {
  .pantalla .ancho {
    max-height: 100%; }
  .pantalla .sobref {
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; }
    .pantalla .sobref .logo {
      position: absolute;
      top: 40%;
      bottom: 60%;
      align-content: center;
      width: 30%;
      padding-bottom: 15%;
      margin: auto; }
    .pantalla .sobref .frase {
      margin: auto;
      font-display: inline;
      display: inline-block;
      position: absolute;
      top: 55%;
      bottom: 45%;
      text-align: center; }
      .pantalla .sobref .frase h2 {
        font-family: pacifico;
        font-size: calc(12px + 1.5vw); }
    .pantalla .sobref .enrow {
      margin: auto;
      display: inline-block;
      font-family: quicksand;
      color: #e5e5e5;
      align-content: space-around;
      position: absolute;
      top: 72%;
      bottom: 28%;
      align-items: center; }
      .pantalla .sobref .enrow button {
        width: 6vw;
        height: 6vw;
        color: #0f001b;
        background-color: #0f001b;
        font-family: quicksand;
        border-radius: 12px;
        padding: 5%; }
        .pantalla .sobref .enrow button .letra {
          font-family: quicksand;
          color: #e5e5e5;
          text-decoration: none;
          font-size: calc(2px + 1.8vw);
          margin: 1px auto;
          text-align: center; } }

@media (min-width: 360px) and (max-width: 760px) {
  .pantalla .ancho {
    max-height: 100%; }
  .pantalla .sobref {
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; }
    .pantalla .sobref .logo {
      position: absolute;
      top: 40%;
      bottom: 60%;
      align-content: center;
      width: 30%;
      padding-bottom: 15%;
      margin: auto; }
    .pantalla .sobref .frase {
      margin: auto;
      font-display: inline;
      display: inline-block;
      position: absolute;
      top: 55%;
      bottom: 45%;
      text-align: center; }
      .pantalla .sobref .frase h2 {
        font-family: pacifico;
        font-size: calc(12px + 1.5vw); }
    .pantalla .sobref .enrow {
      margin: auto;
      display: inline-block;
      font-family: quicksand;
      color: #e5e5e5;
      align-content: space-around;
      position: absolute;
      top: 72%;
      bottom: 28%;
      align-items: center; }
      .pantalla .sobref .enrow button {
        width: 9vw;
        height: 9vw;
        color: #0f001b;
        background-color: #0f001b;
        font-family: quicksand;
        border-radius: 12px;
        padding: 5%; }
        .pantalla .sobref .enrow button .letra {
          font-family: quicksand;
          color: #e5e5e5;
          text-decoration: none;
          font-size: calc(2px + 1.8vw);
          margin: 1px auto;
          text-align: center; } }

@media (min-width: 10px) and (max-width: 360px) {
  .pantalla .ancho {
    max-height: 100%; }
  .pantalla .sobref {
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; }
    .pantalla .sobref .logo {
      position: absolute;
      top: 40%;
      bottom: 60%;
      align-content: center;
      width: 60%;
      padding-bottom: 15%;
      margin: auto; }
    .pantalla .sobref .frase {
      margin: auto;
      font-display: inline;
      display: inline-block;
      position: absolute;
      top: 55%;
      bottom: 45%;
      text-align: center; }
      .pantalla .sobref .frase h2 {
        font-family: pacifico;
        font-size: calc(12px + 1.5vw); }
    .pantalla .sobref .enrow {
      margin: auto;
      display: inline-block;
      font-family: quicksand;
      color: #e5e5e5;
      align-content: space-around;
      position: absolute;
      top: 72%;
      bottom: 28%;
      align-items: center; }
      .pantalla .sobref .enrow button {
        width: 16vw;
        height: 16vw;
        color: #0f001b;
        background-color: #0f001b;
        font-family: quicksand;
        border-radius: 10px;
        padding: 5%; }
        .pantalla .sobref .enrow button .letra {
          font-family: quicksand;
          color: #e5e5e5;
          text-decoration: none;
          font-size: calc(6px + 1.8vw);
          margin: 1px auto;
          text-align: center; } }

@media (max-width: 10px) {
  .pantalla .ancho {
    max-height: 100%; }
  .pantalla .sobref {
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; }
    .pantalla .sobref .logo {
      position: absolute;
      top: 40%;
      bottom: 60%;
      align-content: center;
      width: 60%;
      padding-bottom: 10%;
      margin: auto; }
    .pantalla .sobref .frase {
      margin: auto;
      font-display: inline;
      display: inline-block;
      position: absolute;
      top: 55%;
      bottom: 45%;
      text-align: center; }
      .pantalla .sobref .frase h2 {
        font-family: pacifico;
        font-size: calc(12px + 1.5vw); }
    .pantalla .sobref .enrow {
      margin: auto;
      display: inline-block;
      font-family: quicksand;
      color: #e5e5e5;
      align-content: space-around;
      position: absolute;
      top: 72%;
      bottom: 28%;
      align-items: center; }
      .pantalla .sobref .enrow button {
        width: 20vw;
        height: 20vw;
        color: #0f001b;
        background-color: #0f001b;
        font-family: quicksand;
        border-radius: 6px;
        padding: 5%; }
        .pantalla .sobref .enrow button .letra {
          font-family: quicksand;
          color: #e5e5e5;
          text-decoration: none;
          font-size: calc(6px + 1.8vw);
          margin: 1px auto;
          text-align: center; } }

.burbuja {
  width: 40px;
  height: 40px;
  opacity: .3;
  left: 5%;
  animation: burbujas 11s linear infinite; }

.burbuja1 {
  width: 20px;
  height: 20px;
  opacity: .5;
  left: 55%;
  animation: burbujas 9s linear infinite; }

.burbuja2 {
  width: 10px;
  height: 10px;
  opacity: .2;
  left: 0%;
  animation: burbujas 10s linear infinite; }

.burbuja3 {
  width: 30px;
  height: 30px;
  opacity: .5;
  left: 75%;
  animation: burbujas 8s linear infinite; }

.burbuja4 {
  width: 15px;
  height: 15px;
  opacity: .7;
  left: 50%;
  animation: burbujas 5s linear infinite; }

.burbuja5 {
  width: 20px;
  height: 20px;
  opacity: .5;
  left: 30%;
  animation: burbujas 7s linear infinite; }

.burbuja6 {
  width: 10px;
  height: 10px;
  opacity: .2;
  left: 40%;
  animation: burbujas 4s linear infinite; }

.burbuja7 {
  width: 30px;
  height: 30px;
  opacity: .5;
  left: 90%;
  animation: burbujas 7s linear infinite; }

.burbuja8 {
  width: 50px;
  height: 50px;
  opacity: .9;
  left: 80%;
  animation: burbujas 8s linear infinite; }

.burbuja9 {
  width: 10px;
  height: 10px;
  opacity: .5;
  left: 65%;
  animation: burbujas 5s linear infinite; }

.burbuja10 {
  width: 15px;
  height: 15px;
  opacity: .7;
  left: 22%;
  animation: burbujas 6s linear infinite; }

.burbuja11 {
  width: 40px;
  height: 40px;
  opacity: .3;
  left: 27%;
  animation: burbujas 9s linear infinite; }

.burbuja12 {
  width: 20px;
  height: 20px;
  opacity: .5;
  left: 65%;
  animation: burbujas 8s linear infinite; }

.burbuja13 {
  width: 10px;
  height: 10px;
  opacity: .2;
  left: 12%;
  animation: burbujas 8s linear infinite; }

.burbuja14 {
  width: 30px;
  height: 30px;
  opacity: .5;
  left: 68%;
  animation: burbujas 5s linear infinite; }

.burbuja15 {
  width: 15px;
  height: 15px;
  opacity: .7;
  left: 49%;
  animation: burbujas 4s linear infinite; }

.burbuja16 {
  width: 20px;
  height: 20px;
  opacity: .5;
  left: 94%;
  animation: burbujas 7s linear infinite; }

.burbuja17 {
  width: 10px;
  height: 10px;
  opacity: .2;
  left: 17%;
  animation: burbujas 4s linear infinite; }

.burbuja18 {
  width: 30px;
  height: 30px;
  opacity: .5;
  left: 33%;
  animation: burbujas 7s linear infinite; }

.burbuja19 {
  width: 50px;
  height: 50px;
  opacity: .9;
  left: 54%;
  animation: burbujas 5s linear infinite; }

.burbuja20 {
  width: 10px;
  height: 10px;
  opacity: .5;
  left: 63%;
  animation: burbujas 5s linear infinite; }

.burbuja21 {
  width: 15px;
  height: 15px;
  opacity: .7;
  left: 76%;
  animation: burbujas 6s linear infinite; }

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: .15; }
  50% {
    opacity: .4; }
  100% {
    bottom: 100vh;
    opacity: .15; } }
