@import "variables";
@import "mixin0";

.itemCategory{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: 
        
    "textoCategory textoCategory textoCategory"
     "imagenes imagenes imagenes"
    ;
    .contenedorCategory{
    
        color: #383838;
        background-color: #ffffff;
        width: 90%;
        align-self: center;
        text-decoration: none;
        height: auto;
        text-align: center;
        align-content: center;
        border-radius: 12px;
        font-size: calc(1.2vw + 10px);
        box-shadow: -3px 3px 10px rgb(198, 198, 198);
        border: 1px;
        
        .imagenes{
            width: 90%;
            height: auto;
            align-items: center;
            border-radius: 12px;
            
        }
        
        a{
            text-decoration: none;
            color: #383838;
        }
            
        
        .Category{
            font-size:calc(13px + 1vw);
            align-self: center;
            margin-left: 1.5%;
             
        }
       
    }
}

    
@include media (sm) {
.itemCategory{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
     gap: 20px;
    grid-template-areas: 
     
     "imagenes"
     "imagenes"
     "imagenes"
     
    ;
    .contenedorCategory{
        width: 100%;
        height: auto;
        padding: 5%;
        margin: 5px;
        gap: 10px;
        text-align: center;
        align-content: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        
        .Category{
            font-size:calc(14px + 1vw);
            align-self: center;
            margin-left: 7%;
                
        }
        
        
    }
}
}
@include media (md) {
.itemCategory{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: 
         
     "imagenes"
     "imagenes"
     "imagenes"
         
    ;
    .contenedorCategory{
        width: 90%;
        height: auto;
        padding: 5%;
        margin: 5px;
        gap: 10px;
        text-align: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        .Category{
            font-size:calc(12px + 1vw);
            align-self: center;
            margin-left: 3.5%;
            
        }
        
    }
}
}