@import "variables";
@import "mixin0";

.contenedorPromo{
    
    color: #383838;
    background-color: #ffffff;
    width: 95%;
    height: auto;
    align-self: center;
    margin-bottom: 5%;
    justify-content: space-around;

    .textoPromo{
    
        .Promo{
            font-size:calc(13px + 1vw);
            align-self: center;
            margin-left: 1.5%;
            
        }
    }
    .cardPromo{
        width: 91%;
        height: auto;
        padding: 5%;
        margin: 5px;
        gap: 10px;
        text-align: center;
        align-content: center;
        align-self: center;
        border-radius: 12px;
        font-size: calc(1.2vw + 10px);
        box-shadow: -3px 3px 10px rgb(198, 198, 198);
        border: 1px;
        
        button{
                
            color: white;
            background-color: rgb(73, 33, 71);
            border-width: 1px;
            height: 30px;
            width: 100%;
            box-shadow: 1px 1px rgb(46, 16, 77);
            border-radius: 12px;
            align-self: center;
            font-size: calc(5px + 1vw);
            margin-block: 1.5vw;
        }
        
        
        
        img{
            width: 100%;
            height: auto;
            align-items: center;
            border-radius: 12px;
            
        }
        
        a{
            text-decoration: none;
            color: #383838;
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas: 
        
        "textoPromo textoPromo textoPromo"
        "cardPromo cardPromo cardPromo"
        ;
    }
    
}
    
@include media (sm) {
    .contenedorPromo{
        height: auto;
        width: 100%;
        .cardPromo{
            width: 70%;
                height: auto;
                padding: 5%;
                margin: 5px;
                gap: 10px;
                text-align: center;
                align-content: center;
                align-self: center;
                display: flex;
                flex-direction: column;
        }
        .textoPromo{
    
            .Promo{
                font-size:calc(14px + 1vw);
                align-self: center;
                margin-left: 7%;
                
            }
        }
        
    }
}
@include media (md) {
    .contenedorPromo{
        height: auto;
        .cardPromo{
            width: 90%;
            height: auto;
            padding: 5%;
            margin: 5px;
            gap: 10px;
            text-align: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            button{
                
                border-width: 1px;
                height: 30px;
                width: 100%;
                
            }
        }
        .textoPromo{
    
            .Promo{
                font-size:calc(12px + 1vw);
                align-self: center;
                margin-left: 3.5%;
                
            }
        }
        
    }
}