
.resumenPedido{
    margin: 10%;
    font-size: calc(5px + 1vw);
}
h3.resumenPedido{
    font-size: calc(9px + 1vw);
}
.cart-widget{
    font-size: small;
    margin: 10%;
    text-decoration: none;
    
    .CartProductIn{
        
        img{
            width: 7%;
            height: auto;
        }
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 15px;
        
        
        
    }
    .Subtotal{
        button{
            width: 30vw;
            height: 3vw;
            border-radius: 12px;
            border-style: none;
            font-size: small;
            background-color: rgb(73, 33, 71);
            color: white;
        }
    }
}

.modal-custom{
    h2{
        margin-left: 6%;
        margin-top: 10%;
    }
    .divFormZona{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60%;
        .zonaDelivery{
            margin-top: 4%;
            p{
                font-size: medium;
            }
            justify-content: space-around;
                display: flex;
                flex-direction: column;
                align-self: center;
                width: 80vw;
                height: auto;
        }
        .form{
            align-content: space-between;
            padding: 5%;
            .inputForm{
                justify-content: space-around;
                display: flex;
                flex-direction: column;
                margin: 1vw;
                width: 30vw;
                margin-top: 3vw;
            }
           button.botonEnviar{
                margin: 1vw;
                width: 30vw;
                height: 3vw;
                border-radius: 12px;
                border-style: none;
                font-size: small;
                background-color: rgb(73, 33, 71);
                color: white;
           }
        
        }
    }
    
}
