.nav{
  
  
  .items1{
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    background-color: #98fad4;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    height: 120px;
    align-content: center;
    padding: 2%;
    
    li{
      button{
        background-color: #98fad4;
        border-style: none;
        font-size: calc(.7vw + 10px);
        
        .cart-widget{
          width: 100%;
          height: auto;
        }
        .boton{
          border-style: none;
          
        }
        :hover{
          background-color: #98fad4;
          border-color: #61dafb;
          text-decoration: none;
        
        }
        :link{
          color: black;
          text-decoration: none;
          border-style: none;
          
        }
      }
    }
    .logo{
      
      .logoa{
        
        align-self: center;
        width: 50%;
        height: auto;
        min-width: 30px;
       
      }
    
    }   
  }
  
}