@import "variables";
@import "mixin0";



@include media (lg) {
    .ContenedorContacto{
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        border-radius: 12px;
        .sombra{
            align-self: center;
            align-items: center;
            display: flex;
            text-align: center;
            flex-direction: row;
            width: 70%;
            padding: 5%;
            margin-left: 10%;
            border-radius: 12px;
            background-color: rgb(255, 255, 255);
            box-shadow: 3px 3px 3px 3px grey;
            
            h2{
                padding-bottom: 20%;
            }
            
            .ImagenContacto{
                
                img{
                    width: 50%;
                    height: auto;
                    transition: 1.5s ease;
                    border-radius: 12px;
                    box-shadow: 3px 3px 3px 3px grey;
    
                }
                :hover{
                    transform: scale(1.2);
                     
                }
            }
            .itemContacto{
               
                font-family: quicksand;
                font-size: calc(9px + .5vw);
            } 
        }
        
        
    }
}


@include media (md) {
    .ContenedorContacto{
        width: 90%;
        padding: 5%;
        background-color: white;
        .sombra{
            align-self: center;
            align-items: center;
            display: flex;
            text-align: center;
            flex-direction: column;
            width: 70%;
            padding: 5%;
            margin-left: 10%;
            border-radius: 12px;
            background-color: rgb(255, 255, 255);
            box-shadow: 3px 3px 3px 3px grey;
            .ImagenContacto{
            
                img{
                    width: 70%;
                    height: auto;
                    box-shadow: 3px 3px 3px 3px grey;
                    transition: 1.5s ease;
                }
                :hover{
                    transform: scale(1.2);
                     
                }
            }
            
            .itemContacto{
                font-family: quicksand;
                font-size: calc(8px + .5vw);
            }  
        }
        
    }
 
}

@include media (sm) {
    .ContenedorContacto{
        width: 90%;
        padding: 5%;
        
        background-color: white;
        .sombra{
            align-self: center;
            align-items: center;
            display: flex;
            text-align: center;
            flex-direction: column;
            width: 70%;
            padding: 5%;
            margin-left: 10%;
            border-radius: 12px;
            background-color: rgb(255, 255, 255);
            box-shadow: 3px 3px 3px 3px grey;

            .ImagenContacto{
            
                img{
                    width: 80%;
                    height: auto;
                    box-shadow: 3px 3px 3px 3px grey;
                    transition: 1.5s ease;
                }
                :hover{
                    transform: scale(1.2);
                     
                }
            }
            
            .itemContacto{
                font-family: quicksand;
                font-size: calc(8px + .5vw);
            }  
        }
       
    }
 
}
