@import "variables";
@import "mixin0";

.itemDetail{
    width: 100%;
    height: auto;
    background-color: rgb(214, 250, 238);
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 3vw);
    text-align: center;
    align-content: space-around;
   
    
    .itemDetail1{

        margin: 5%;
        
        align-self: center;
        .imagenes{
            width: 21vw;
            height: auto;
            border-radius: 12px;
        }
        
      
    }
    
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5vw;
        padding: 2%;
        height: 100%;
        width: 5%;
        text-decoration: none;
        margin: 3%;
        margin-left: 5%;
        margin-top: 10%;
        p{
            font-size: 2.5vw;
            margin: 10%;
        }
        span{
            font-size: 2.5vw;
            margin: 10%;
        }
        
        button.finalizar{
            align-self: center;
            font-size: 1vw;
            font-weight: 400;
            background-color: rgb(255, 255, 255);
            width: 12vw;
            height: 3vw;
            font-weight: 600;
            margin: 5%;
            text-decoration: none;
            border-radius: 12px;

            
 
        }
    }
    
    .columnaCuadros{

        padding-top: 4.5%;
        height: auto;
        border-radius: 12px;
        width: 30%;
        
        .horizontal{
            display: flex;
            flex-direction: row;
           
            .fotoChica{
            
                display: flex;
                flex-direction: column;
                margin: 1%;
                border-radius: 12px;
                width: 35%;
                .imagenes{
                    
                    border-radius: 12px;
                }
                
            }
        }
        
        

    }
    .countProd{
        padding: 7%;
        width: 15vw;
        height: 10vw;
        border-radius: 12px;
        border-color: darkgray;
        margin: 3%;
        
        button{
            border-radius: 12px;
            border-color: darkgray;
            margin: 3%;
            text-decoration: none;
            width: 12vw;
            
           
            :active{
                text-decoration: none;
            }

        
        }
        
        .contenedorCount{
            font-size: 1vw;
            padding: 2%;
            .buttonCount{
                width: 3vw;
                height: 3vw;
                font-size: 2vw;
            }
        }
        text-decoration: none;
    }
    .buttonPrimary{
        align-self: center;
        font-size: 1vw;
        font-weight: 400;
        background-color: rgb(255, 255, 255);
        width: 12vw;
        height: 3vw;
        font-weight: 600;
        margin: 5%;
    }
}
@include media (md) {}