.itemDetail{
    width: 100%;
    height: auto;
    background-color: rgb(192, 245, 238);
    display: flex;
    flex-direction: row;
 
    font-size: 1rem;
    text-align: center;
   
    
    .itemDetail1{

        margin: 5%;
        background-color: rgb(218, 255, 250);
        align-self: center;
        .imagenes{
            width: 20em;
            height: auto;
        }
        
      
    }
    
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3rem;
        padding: 2%;
        height: 100%;
        width: 5%;
        text-decoration: none;
        margin: 3%;
        margin-left: 5%;
        margin-top: 10%;
        
        
        .finalizar{
            width: 6rem;
            height: 1.5rem;
            font-size: .6rem;
            margin: 20%;
            border-radius: 12px;
            border-color: darkgray;
            
            
        }
    }
    
    .columnaCuadros{
        margin: 4%;
        padding-top: 1%;
        width: 4em;
        height: auto;
        .fotoChica{
            
            background-color: rgb(218, 255, 250);
            display: flex;
            flex-direction: column;
            margin: 1%;
            
        }

    }
    .countProd{
        padding: 7%;
        width: 200px;
        height: 120px;
        border-radius: 12px;
        border-color: darkgray;
        margin: 3%;
        
        button{
            border-radius: 12px;
            border-color: darkgray;
            margin: 3%;
        
        }
        
        .contenedorCount{
            padding: 2%;
        }
        text-decoration: none;
    }
    .buttonPrimary{
        align-self: center;
        font-size: .5em;
        background-color: rgb(255, 255, 255);
        width: 6rem;
        height: 1.5rem;
        font-weight: 500;
        margin: 5%;
    }
}