.itemDetail{
    width: 100%;
    height: auto;
    background-color: rgb(0, 122, 106);
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    font-size: 2rem;
    text-align: center;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .columnaCuadros{
        padding-top: 1%;
        .fotoChica{
            width: 30%;
            height: auto;
            background-color: aquamarine;
            align-self: center;
            display: flex;
            flex-direction: column;
            margin: 2%;
        }

    }
    
   
    .itemDetail1{
        width: 400px;
        height: auto;
        margin: 2%;
        background-color: rgb(194, 255, 247);
        
        img{
            width: 100%;
        }
        .botonDetalle{
            margin-top: 10%;
            align-self: center;
            font-size: large;
            background-color: rgb(255, 255, 255);
            width: 160px;
            height: 40px;
            font-weight: 600;
            
        }
        display: flex;
        flex-direction: column;

    }
    

    
}